@font-face {
  font-family: "MainFont";
  src: url("/fonts/BubblegumSans-Regular.ttf") format("truetype");
}

* {
  font-family: "MainFont", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-with-plate {
  font-family: "MainFont", sans-serif;
  background-image: url("/backgrounds/HeaderPlate.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 8vh;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow:
    3px 3px 6px rgba(0, 0, 0, 0.8),
    0 0 10px rgba(0, 0, 0, 0.5);
  
  width: 100vw;
  height: 100vh;
  padding-bottom: 8vh;
  margin-top: 3vh;

  pointer-events: none;
}

/* Oder nur für body */
.menu-button{
  font-family: "MainFont", sans-serif;
  background-image: url("/backgrounds/ButtonPlate.png");
  background-color: transparent;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  align-items: center;
  justify-content: center;
  text-align: center;

  color: white;
  font-size: 3.5vh;
  min-width: 35vw;    
  min-height: 9vh;  
  outline: none;

   padding-bottom: 1vh;

  -webkit-text-stroke: 1px black;
  text-shadow:
    3px 3px 6px rgba(0, 0, 0, 0.8),
    0 0 10px rgba(0, 0, 0, 0.5);
}