@font-face {
  font-family: "MainFont";
  src: url("/fonts/BubblegumSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "AcmeFont";
  src: url("/fonts/Acme-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "AlegreyaSansFont";
  src: url("/fonts/AlegreyaSans-Regular.ttf") format("truetype");
}

:root {
  --button-color: #234420;
  --button-gradient-green: linear-gradient(to top, var(--button-color), #57AA51);
  --button-gradient-red: linear-gradient(to top, #691515, #b52326);
  --button-color-inactive: #737373;

  --background-color-forms: #D9D9D9;

  --background-color-input-focus: #8b6f47;
  --border-color-input-focus: #5d4a2f;
  --text-color-input-focus: white;
}

* {
  font-family: "MainFont", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-with-plate {
  font-family: "MainFont", sans-serif;
  background-image: url("/backgrounds/HeaderPlate.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 8vh;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke: 6px black;
  text-shadow:
    3px 3px 6px rgba(0, 0, 0, 0.8),
    0 0 10px rgba(0, 0, 0, 0.5);
  paint-order: stroke fill;

  width: 100vw;
  height: 100vh;
  padding-bottom: 8vh;
  margin-top: 3vh;

  pointer-events: none; 
}

/* Oder nur für body */
.menu-button {
  font-family: "MainFont", sans-serif;
  background-image: url("/backgrounds/ButtonPlate.png");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;

  color: white;
  font-size: 3.5vh;
  width: 30vw;
  height: 8.5vh;
  outline: none;

  padding-bottom: 1vh;

  -webkit-text-stroke: 6px black;
  text-shadow:
    3px 3px 6px rgba(0, 0, 0, 0.8),
    0 0 10px rgba(0, 0, 0, 0.5);
  paint-order: stroke fill;
}

.page-title {
  font-family: "MainFont", sans-serif;
  border: none;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 1vh;

  font-size: 1rem;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke: 6px black;
  text-shadow:
    3px 3px 6px rgba(0, 0, 0, 0.8),
    0 0 10px rgba(0, 0, 0, 0.5);

  position: relative;
  top: -15vh;
  left: 0;
  transform: none;
  margin-top: -10vh;

  paint-order: stroke fill;
}


form label {
  font-family: "MainFont", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke: 6px black;
  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.8),
    0 0 5px rgba(0, 0, 0, 0.5);
    
  paint-order: stroke fill;
}


button:hover {
  filter: brightness(1.1);
}
